body {margin: 0; background-color: #2c3643;}
html,body,img {height: 100vmax;}



ul.topnav {
  list-style-type: none;
  margin: 0;
  margin-top: 25px;
  margin-right: 30px;
  padding: 0;
  overflow: hidden;
}

ul.topnav li:first-child{
border-radius: 10px;
border: #16c98d;
border-style: solid;
}

/* ul.topnav li:last-child {
  float: left;
  margin-left: 0.5em;
} */


ul.topnav li {float: right;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 30px;
  text-decoration: none;
  margin-right: 0px;
  font-family: 'Montserrat';
  font-size: 12.5px;
}

ul.topnav li a:hover:not(.active) {color: #16c98d;}
/* 
ul.topnav li a.active {background-color: #04AA6D;} */

ul.topnav li.right {float: right;}

@media screen and (max-width: 400px) {
  body {overflow-y: hidden;}
  ul.topnav li.right, 
  ul.topnav li {float: none;}
  h1.Name {font-size: 2.5em;}
  h1.Build {font-size: 2.5em;}
  ul.topnav {margin-right: 0px;}
  li:first-child {border-radius: 1em;}
  div.vl2{
    margin-top: 30px;
  }
  ul.fa-ul {
    margin-top: 6em;
    font-size: 0.5em;
  }
  div.vl {
    margin-top: 30px;
  }
  h1.email {
   bottom:12.5em;
   margin-right: -0.95em;
   font-size: 1em;

  }
  h1.email:hover {color:#16c98d; top:-13.5em;}

  p.para {
    font-size: 1em;
    font-family: 'Montserrat';
  }

  p.para2{
    font-size: 1em;
    font-family: 'Montserrat';
  }
}



@media screen and (max-width: 500px) and (min-width:410px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
  h1.Name {font-size: 2em;}
  h1.Build {font-size: 2em;}
  ul.topnav {margin-right: 0px;}
  li:first-child {border-radius: 1em;}
  div.vl2{
    margin-top: 30px;
  }
  ul.fa-ul {
    margin-top: 13em;
    font-size: 0.7em;
  }
  div.vl {
    margin-top: 30px;
  }
  h1.email {
   bottom:12em;
   margin-right: -0.7em;
   font-size: 1em;
  }
  h1.email:hover {color:#16c98d; top:-11.5em;}

  p.para {
    font-size: 1.2em;
    margin-top: -0.7em;
    margin-left: -0.4em;
    font-family: 'Montserrat';
  }

  p.para2{
    font-size: 1.2em;
    margin-left: -0.4em;
    font-family: 'Montserrat';
  }
}


/* @media screen and (max-width: 1300px) and (min-width:1000px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
  h1.Name {font-size: 3em;}
  h1.Build {font-size: 3em;}
  ul.topnav {margin-right: 0px;}
  li:first-child {border-radius: 1em;}
  div.vl2{
    margin-top: 30px;
  }
  ul.fa-ul {
    margin-top: 0em; 
    font-size: 1em;
  }
  div.vl {
    margin-top: 30px;
  }
  h1.email {
   bottom:10.5em;
   margin-right: -0.40em;
   font-size: 1em;
  }
  h1.email:hover {color:#16c98d; top:-11.5em;}

  p.para {
    font-size: 1.2em;
    margin-top: -0.7em;
    margin-left: -0.4em;
    font-family: 'Montserrat';
  }

  p.para2{
    font-size: 1.2em;
    margin-left: -0.4em;
    font-family: 'Montserrat';
  }
} */



.resume {
  overflow-y: scroll;
  width: 100%;
}

::-webkit-scrollbar {
  width: 10px;
}


::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 

::-webkit-scrollbar-thumb {
  background: #888; 
}


::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.intro {
  padding:0 16vw;
  margin-top: 3%;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
  font-weight:100;
}

.hello {
  color: #16c98d;
  margin-left: -0.3em;
}



/* .Name {
  padding:0 16vw;
  margin-top: -2vh;
  margin-left: -0.3vw;
  font-size: 50px;
} */

.Name {
  font-size: 5em;
  margin-top: 0em;
  margin-left: -0.2em;
  color: white;
}
.Build {
  font-size: 5em;
  margin-top: -0.3em;
  margin-left: -0.15em;
  color: #99a9b3;
}


a:visited {
  text-decoration: none;
  color:inherit;
}

a {
  color: inherit;
}



.fa-ul {
  margin-top: 16%; /*20*/
  margin-left: 3em;
  color: #a8b2d1;
}
span.fa-li-github:hover {color:#16c98d; font-size: 1.1em;}
span.fa-li-link:hover {color:#16c98d; top: 1.8em;}
span.fa-li-discord:hover {color:#16c98d; top: -4.2em;}
span.fa-li-slack:hover {color:#16c98d; top:-7.2em;}
h1.email:hover {color:#16c98d; bottom:9.8em;}

.fa-li-link {
  position: absolute;
  top: 2em;
  left: 0.05em;
}

.fa-li-discord {
  position: absolute;
  top: -4em;
  left: -0.2em;
}

.fa-li-slack {
  position: absolute;
  top: -7em;
  left: 0.1em;
  
}





.vl {
  position: absolute;
  top: 90vh;
  border-left: 2px solid #a8b2d1;
  height: 7em;
  margin-left: 0.55em;

}
.vl2 {
  position: absolute;
  top: 90vh;
  border-left: 2px solid #a8b2d1;
  height: 7em;
  right: 3.55em;

}

.email {
  float: right;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  position: relative;
  bottom: 9.8em;
  right: 3.5em;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 1.2px;
  color: #a8b2d1;
}

.para {
  /* position: absolute;
  top: 20em; */
  font-size: 1.2500em;
  margin-top: -1.7em;
  margin-left: -0.5em;
  color: #99a9b3;
}

.para2 {
  /* position: absolute;
  top: 20em; */
  font-size: 1.2500em;
  margin-top: -0.3em;
  margin-left: -0.5em;
  color: #99a9b3;
}